<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<style>
    nav{
        background-color: red;
        color: white;
    }
    footer{
        background-color: blue;
        color: white;
    }
</style>
<body>
    <nav>
        <a href="/"><span>Home</span></a>
        <a href="/about"><span>About us</span></a>
        <a href="/contact"><span>Contact us</span></a>        
    </nav>
     
    {% block content %} {% endblock %}

    <footer>
        All rights reserved 2025
    </footer>
</body>
</html>