<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {# This is how you can write comments in jinja #}
        {% for key in marks.keys() %}
        <li>The marks of {{key}} is {{marks.get(key)}}
            {% if marks.get(key) > 80 %}
            <span>Very Good</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>